*{
    padding: 0;
    margin: 0;
}
html{
    font-size: 20px;
}

body{
    background-color: #36393f;
color: white;
}
h1{
    text-align: center;
    font-size: 3rem;
    animation: h1MoveIn 3s ease-out;
    margin-top: 1em;
    font-family: 'Baloo Tammudu 2', cursive;
}
@keyframes h1MoveIn {
    0%{
        opacity: 0;
        transform:rotateZ(360deg)
    }
   
    100%{
       opacity: 1;
        transform:rotateZ(0deg)
    }
}
span{
   animation: games 4s  ease-in infinite ;
}
@keyframes games {
    0%{ color:aqua}
    25%{ color:red}
    50%{color:rgb(145, 255, 0)}
    75%{color:#ff00ea}
    100%{color :aqua}
}