*{
    padding: 0;
    margin: 0;
}
html{
    font-size: 20px;
}

body{

    color: white;

}
.container{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30, 0.7), rgba(4,9,30, 0.7)), url("img/try11.jpg");
  background-position: center;
  background-size:cover;
  position: relative;
}
header {
 position:absolute;
 text-align: center;
 width: 100%;
 margin: 0 auto;
}
.spin{
    margin: 0 auto;
}

h1{
    text-align: center;
    width: 90%;
    font-size: 3rem;
    margin: 0 auto;
    animation: h1MoveIn 3s ease-out;
     overflow: hidden;
    font-family: 'Baloo Tammudu 2', cursive;
}
@keyframes h1MoveIn {
    0%{
        opacity: 0;
        transform:rotateZ(360deg)
    }
   
    100%{
       opacity: 1;
        transform:rotateZ(0deg)
    }
}
span{
   animation: games 4s  ease-in infinite ;
}
@keyframes games {
    0%{ color:aqua}
    25%{ color:red}
    50%{color:rgb(145, 255, 0)}
    75%{color:#ff00ea}
    100%{color :aqua}
}