*{
    padding:0;
    margin:0;

}
main{
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, 20px);
    grid-template-rows: repeat(auto-fill, 20px);   
}
.player, .food{
    position:relative;
    background-color: aliceblue;   
}
.food{
    background-color: red;
}