*{
    box-sizing: border-box;
    padding:0;
    margin: 0;
}
html{
    font-size: 20px;
}
:root{
    --neon-text-color: rgb(0, 255, 128);
}
header{
    min-height: 50px;
}

.headText{
    margin: 0 auto;
    font-size:2.5rem;
    width: 90%;
    text-align: center;
    word-spacing: 0.1em;
    font-family: 'Benne', serif;
    font-weight: 500;
}

.container{
    margin: 0 auto;
    display: grid;
    width: 95%;
    max-width: 1000px;
    max-height: 95vh;
    min-height: 80vh;
    grid-template: minmax(100px, 1fr)  minmax(100px, 1fr) minmax(100px, 1fr)/minmax(100px, 1fr)  minmax(100px, 1fr) minmax(100px, 1fr);
    justify-content: center;
    align-content: center;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    background-color: aqua;

}

.box{
    max-width: 100%;
    min-height: 20vh;
    background-color: rgb(196, 214, 30);
}