*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

main{
    min-height: 100vh;
    width: 100%;
    max-width: 100%;
    background-image: linear-gradient(rgba(122, 123, 124, 0), rgba(0, 0, 0, 0.7)), url("img/background7.JPG");
    background-position: center center;
    background-size: cover;
    background-repeat: none;
}
.navBar{
    display:flex; 
    min-height: 50px;
    width: 90%;
    margin:0 auto;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.toggle-button{   
    cursor: default;
    display: none;
    position: absolute;
    right:0;
    top: 0;
    border-radius: 5px;
    height: 40px;
    width: 40px;
}




.line{
    display: none;
    width: 80%;
    border-radius: 10px;
    height: 5px;
    background-color: white;
    margin: 3px auto;
    
    background-color: black;
}


.navbar-links{
    display: flex;
    justify-content: space-between;
  }
  .logo{
    font-size:2rem;
}
  .navbar-links li{
    list-style: none;
    display: inline;
    width: 100%;
    margin: 0 2rem;
    font-size:2rem;
    cursor: pointer;
    
}
.navbar-links li:hover{
background-color: rgba(90, 93, 93, 0.534);
border-radius: 10%;
}


@media screen and (max-width:650px) {

    .toggle-button:hover{
        background-color: white;
    }
       .toggle-button{
        display: flex;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;
       
       }
     .navbar-links{
     display: none;
      width: 100%;
     }
     .navBar{
         flex-direction: column;
         align-items: flex-start;
         justify-content: center;
     }
     .navbar-links ul{
         width: 100%;
         flex-direction: column;
     }
     .navbar-links li{
         width: 100%;
         display:block;
         text-align: center;
         margin-bottom:1rem;
     }
     
    .line{
        display: block;  
    }
    .navbar-links.active{
        display:flex;
        color: white;
    }
    
    
    .navbar-links li{
        width: 50%;
        margin: 0 auto;
        font-size:2rem;
    }
    .navbar-links li:hover{
      background-color: rgba(90, 93, 93, 0.534);
      border-radius: 10%;
    }
    .navBar.active{
        background-color: rgba(0, 0, 0, 0.424);
        width: 100%;
    }

} 

.linkAndText{
    /* background-color: rgba(0, 255, 255, 0.267); */
    width: 100%;
    margin: 0 auto;
    height: 80vh;
    position:absolute;
    top: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
}

/*Text in main, Hey I am Samet and links for social Media*/
.textContainer{
/* background-color: rgb(10, 233, 233); */
margin-right:10%;
}
.welcome{
    color: white;
    font-size:1.5rem;
    width: 100%;

    text-align: center;
    font-family: 'Dancing Script', cursive;
}

.links{
    text-align: center;
    margin-top:1rem;
    width: 100%;
}
.socialMedia{
    width: 50px;
    height: 50px;
}


/*for text*/
@media screen and (min-width:900px) {
    .welcome{
        font-size:3rem;
    }
    .socialMedia{
        width: 70px;
        height: 70px;
    }
 
}
@media screen and (max-width:1030px){
    main{
        background-image: linear-gradient(rgba(122, 123, 124, 0), rgba(0, 0, 0, 0.7)), url("img/resizedjpg.jpg");
    }
    .welcome{
        font-size:1.5rem
    }
    .socialMedia{
        width: 50px;
        height: 50px;
    }
 
  
    
}
@media (max-width:720px) {
  
    .textContainer{
        margin: 0 auto;
    }
    .welcome{
        font-size:2rem;
    }
    .linkAndText{
        align-items: flex-end;
        justify-content: flex-end;
        
    }
}


.links a{
  text-decoration: none;
 
  height: 100%;
  width: 100%;
}
.hoverThis{
    display: inline;

    width: 100%;
    height: 100%;
   
}

.socialMedia:hover{
    transform:translateY(-10px);
    transition: 1s ease-out;
    fill:white;
  
}

@keyframes Out {
    0%{
        fill:black;
    }
    100%{
        fill: white;
    }
}
